html,
body {
  height: 100%;
}
body {
  font-family: Poppins, sans-serif;
  color: white;
  background-color: #142229;
}


.text-title{
  font-family: Abril Fatface, sans-serif;
  font-size: larger;
}

.selected{
  
}

.hidden{
  visibility: hidden;
}

.visible{
  visibility: visible;

}

.header-row-button{
}

.navbar {
  background-color: #1F5170;
  font-size: large;
}
.navbar-dark .navbar-toggler {
  border-color: transparent;
}

.navbar-dark .navbar-toggler-icon {
  background-image: none;
}

.container {
  min-height: 100%;
  margin-bottom: 50px;
}

.tablecard{  
  margin: 10px 20px;
}

.selectedCell{
  background-color: teal;
}

td, th{
  min-width: 100px; 
}
.generate-table-button{
  float: right;
}

.table-options li {
  display: inline-block;
  padding: 0 10px;
}

.table-options  i{
  color: white;
}

.btn-group > button{
  border: 1px solid black;
} 

 /* Wrapper for page content to push down footer */
 #wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

.table-responsive{  
  max-height: 400px;
  overflow: auto;
}

hr{
  margin: 100px 0 50px;
  border: 2px solid white;
}

.result-box{
  display: grid;
  grid-template-columns: 1fr .25fr;
  grid-gap: 20px;
  background-color: #142229;
}

.grid-child{
  padding: 10px; 
  max-height: 300px;
}


.result-text{
  font-size: large;
  white-space: pre-line;  
  overflow: auto;
  word-break: break-word;
}
.darkerbg{
   background: #243742;
}

.downloadlink{
  display: block;
  margin: 10px;
  padding: 10px 30px;
  background: #1F5170;
  font-size: large;
  text-decoration: none;
  text-align: center;
  color: white;
}

.downloadlink:hover{
  background: #276890;
  color: white;
  transition: background 0.2s linear;
}


/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}

#footer {
  width: 100%;
  /* Set the fixed height of the #footer here */
  background-color: #1F5170;
  text-align: center;
}

#footer a {
  display: inline-block;
  padding: 10px 50px;
  color: white;
}

#footer a:hover,
a:focus {
  color: #87bcde;
  text-decoration: none;
  transition: color 0.2s linear;
}

/*  For Mobile */
@media only screen and (max-width: 600px) {

  h1{
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1rem;
  } /*1rem = 16px*/

  .table-options {
    margin: 0;
  }

  td, th{
    min-width: 75px; 
  }

  .result-box{
    grid-template-columns: 1fr;
  }

  .generate-button{
    float: none;
  }

  .table-options li {
    display: block;
    padding: 7px 0;
    font-size: 1.2rem;
  }

  #footer {
    position: relative;
    height: 200px;
  }
  #footer a {
    margin: 0;
    padding: 20px;
    display: block;
    text-align: left;
  }
}
