html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  font-family: Poppins, sans-serif;
  color: white;
  background-color: #142229;
}

.text-title {
  font-family: Abril Fatface, sans-serif;
  font-size: larger;
}

.undo-redo-menu {
  display: inline-block;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.navbar-brand img {
  width: 200px;
}

.navbar {
  background-color: #1f5170;
  font-size: large;
}
.navbar-dark .navbar-toggler {
  border-color: transparent;
}

.navbar-dark .navbar-toggler-icon {
  background-image: none;
}

#keyboard-controls-sticky-sidebar {
  background-color: #243742;
}

#keyboard-controls-sticky-sidebar a {
  margin: 4px 0;
}

.keyboard-nav {
  display: grid;
  grid-template-columns: 50px 125px;
  column-gap:10px;
}

.key-name {
  grid-column: 1;
  color: white;
  font-weight: bold;
}
.key-description {
  grid-column: 2;
  color: #c8e0fc;
}

.grey-out {
  color: gray !important;
  transition: color 0.2s linear;
}

.grey-out::before {
  display: none;
}

a.styled-link,
.navbar-dark .navbar-nav .nav-link {
  position: relative;
  text-decoration: none;
  padding: 0;
  color: #c8e0fc;
}

a.styled-link:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #84bdfd;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}

a.styled-link:hover::before,
#footer a:hover::before {
  visibility: visible;
  width: 100%;
}

a.styled-link:hover,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #84bdfd;
  transition: all 0.2s linear;
}

.container-left {
  width: 225px;
}

.container {
  min-height: 100%;
  margin-left: 240px;
  margin-bottom: 50px;
}

ul {
  list-style-type: none;
  padding: 0;
}


.tablecard {
  margin: 10px 20px;
}

.selectedCell {
  background-color: teal;
  transition: background-color 0.1s linear;
}

td {
  min-width: 100px;
}

.generate-table-button {
  float: right;
}

.table-options-mobile {
  display: none;
}

.table-options-desktop li {
  display: inline-block;
  margin: 5px;
  padding: 0 10px;
}

.table-options-desktop i {
  color: white;
}

.btn-group > button {
  border: 1px solid black;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

.table-responsive {
  max-height: 400px;
  overflow: auto;
}

hr {
  margin: 100px 0 50px;
  border: 2px solid white;
}

.result-container{
  margin: 0 15px;
}

.result-box {
  display: grid;
  grid-template-columns: 1fr 0.25fr;
  grid-gap: 20px;
  background-color: #142229;
}

.grid-child {
  padding: 10px;
  max-height: 300px;
}

.btn.disabled,
.btn:disabled {
  transition: opacity 0.1s linear;
}

.result-text {
  font-size: large;
  white-space: pre-line;
  overflow: auto;
  word-break: break-word;
}
.darkerbg {
  background: #243742;
}

.downloadlink {
  display: block;
  margin: 10px;
  padding: 10px 30px;
  background: #1f5170;
  font-size: large;
  text-decoration: none;
  text-align: center;
  color: white;
}

.downloadlink:hover {
  background: #276890;
  color: white;
  transition: background 0.2s linear;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}

#footer {
  width: 100%;
  /* Set the fixed height of the #footer here */
  background-color: #1f5170;
  text-align: center;
  overflow: hidden;
}

#footer li {
  display: inline-block;
  padding: 15px 25px;
  color: white;
}

#footer a:hover,
a:focus {
  text-decoration: none;
}
#footer img {
  width: 150px;
}
/*  For Mobile */
@media only screen and (max-width: 600px) {
  .navbar-brand img {
    width: 200px;
  }

  h1 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1rem;
  } /*1rem = 16px*/

  .container-left {
    display: none;
  }

  .container {
    margin-left: 0;
  }

  .result-container{
    margin: 0;
  }

  .table-options-mobile {
    display: block;
    margin: 10px 0;
  }
  .table-options-desktop {
    display: none;
  }

  .table-responsive {
    max-height: 500px;
  }

  td,
  th {
    min-width: 75px;
  }

  .result-box {
    grid-template-columns: 1fr;
  }

  .undo-redo-menu {
    display: inline-block;
  }

  .generate-table-button {
    display: inline-block;
  }

  .dropdown-menus-container {
    margin: 10px 0px;
  }

  .dropdown-menus-container .dropdown {
    display: inline-block;
  }

  #footer {
    position: relative;
    height: 275px;
  }
  #footer li {
    margin-left: 20px;
    padding: 20px 0;
    display: block;
    text-align: left;
  }
}
