html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, sans-serif;
  color: white;
  background-color: #142229;
}

.text-title {
  font-family: Abril Fatface, sans-serif;
  font-size: larger;
}

.instructions-mobile {
  display: none;
}

.big-page-title {
  font-size: 50px;
  font-weight: bold;
  margin: 25px 0;
}

.undo-redo-menu {
  display: inline-block;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.navbar-brand img {
  width: 200px;
}

.navbar {
  background-color: #1f5170;
  font-size: large;
}

.navbar-dark .navbar-toggler {
  border-color: transparent;
}

.navbar-dark .navbar-toggler {
  padding: 0;
}

.navbar-dark .navbar-toggler-icon {
  padding: 0;
  margin: 0;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-dark .navbar-toggler-icon.navbar-toggler-clicked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 330 329' width='330' height='329'%3E%3Cdefs%3E%3Cimage width='330' height='330' id='img1' href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAUoAAAFKBAMAAACJBws2AAAAAXNSR0IB2cksfwAAABtQTFRFAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAngS/twAAAAl0Uk5TAP9QYHBAMBAgSQ8UUQAABjBJREFUeJzV3d15GzcQhWGqA24LqcEd5EkLaSF9pPKYsp2EImYwf+ccEHfG6uLja1mSqcXs7fZjfVyPdb+dsj5zruXm675ofSxzruuozI//cu7L3RMy1zlPuwd8bj7lXOtdOeYz2i+1L7tyzC8513pXjPkV7afaS6UWc53z0q7FNHJed6WYRs5iW4i5oHxUrraFmKuay6iUYVo1630V5jLme816X4S5JrMrNZhmjHFBgmlQOpUKTKvlcq7Ql0XpVfIxzRSnko5pU3qVbEy7xKskYzqUbiUX0wlxK6mYHqX99ZKN6Xd4V4mYHuX3ys1l1nKxNpU0zF2Ff52F6UZckQ8grD2VX8nB3Df4r4OCGUnQY/oFV/iVQNcm4B55KXjMCKUcM0apxoxRijGjlFrMKKUUM06pxIxTCjEzlDrMDKUMM0epwsxRijCzlBrMLKUEM0+pwMxTCjArlHzMCiUds0bJxqxRkjGrlFzMKiUVs07JxKxTEjE7lDzMDiUNs0fJwuxRkjC7lBzMLiUFs0/JwOxTEjAnKPGYE5RwzBlKNOYMJRhzihKLOUUJxZyjRGLOUQIxJylxmJOUMMxZShTmLCUIc5oSgzlNCcGcp0RgzlMCMBGU85gIynFMDOU0JoZyGBNFOYuJohzFxFFOYuIoBzGRlHOYSMoxTCzlFCaWcggTTTmDiaYcwcRTTmDiKQcwGZR9TAZlG5ND2cXkUDYxWZQ9TBZlC5NH2cHkUTYwmZR1TCZlGZNLWcXkUhYx2ZQ1TDZlCZNPWcHkUxYwFZR5TAVlGlNDmcXUUCYxVZQ5TBVlClNHmcHUUSYwlZRxTCVlGFNLGcXUUgYx1ZQxTDVlCFNPGcHUUwYwT6DcY55AubU6g3L7eXcE5RbzDMoWJi+ygUmdzPQOlHVM8sSwd6CsYtIn2b0DZQ1TMGHxHSgrmJLJn+9AmccUTaR9B8ospmxS8jtQ5jCFE7zfgTKDKZ0s/w6UcUztkP4opjYyiCmmDGKqI0OYcsoQpjrxFsE8gDKAqQ78XDvMIyjPeOt3u3aW6r4fa/dpecTf+P7fuLrwsbaRJ2BGvveoG2Pfx+WYsZ+J1JWhSDVm9Gd1bWUwUosZ/z+ksjIcqcTMvLehq0xE6jBz77mpKlORKszse8GaymSkBjP/OwpFZTpSgVn53Rm/shDJx6z9TpddWYpkY1bvNeBWFiO5mPV7YJiV5UgmZufeLF5lI5KH2aHkYe4yjsDc3l8pfYTNr7WjVD8P6HMFblU9AHNPeQBm6K5fOWaEUo4ZvIFajBmjFGOG70WXYkYppZiJ2/qFmHFKIWbqhIQMM0Mpw0weNhFh5ihFmOlzOxLMLKUEs3AESoCZpxRglk6T0TErlHTM4sE8MmaNkoxZPuNIxaxSUjEbx0WJmHVKImbr5C0Ns0NJw2weYiZh9ihJmO3z4BTMLiUFc+BoPQGzT0nAHJlSAMecoIRjDg18AGPOUIIxx2ZnQDGnKKGYg2NIgJhzlEDM0YkuMMxJShjm8HAcEOYsJQhzfM4QBHOaEoIJGNkEwJynBGBCpl+NYyIoxzFBg8SGMTGUw5iwmWyjmCjKUUzgeLtBTBzlICZ0UuAYJpJyDBM8dHEIE0s5hAmfXzmCiaYcwSSMAh3AxFMOYFKmqrYxGZRtTNKA2iYmh7KJSZv128JkUbYwiWOTG5g8ygYmdQJ1GZNJWcYkD/MuYnIpi5j0ueglTDZlCVMwYr6AyacsYEqm9acxFZRpTNGDD5KYGsokpuwZEilMFWUKU/g4jgSmjjKBKX2ySRhTSRnGFD8kJoippQxiyp+3E8JUU4Yw5ZQhTPkp6tsOc/8RnFkJvtQ99DoIa1e5fxmM5Vfsr5NWp5I3W2aTcQalj+lXMmceeZh+JTHSxXQrubO4PEyvkhrpYjrX2DPiHEynkhzpYdqX+LMLbUy7kh7pYJpXFDM1TUyzUhBpYppfLzWzXg1Ms1ISaWFaA8NUM4itmvW+KNLANPZ1s7GXaEalLHKZYwxfU85sN3IW28LIFeZ6W/ssgRc1Y0ScNPJV7b7c1lK+qq23pYmPZaAdRflF7X85R0U+q633VWVPy8o5SPKxPiyz37798Zegx1p/f/v9z3//8A/bwbl1YllTEgAAAABJRU5ErkJggg=='/%3E%3C/defs%3E%3Cstyle%3E tspan %7B white-space:pre %7D %3C/style%3E%3Cuse id='Layer' href='%23img1' x='0' y='0' /%3E%3C/svg%3E");
  background-size: 20px;
}

#keyboard-controls-sticky-sidebar {
  background-color: #243742;
}

#keyboard-controls-sticky-sidebar a {
  margin: 4px 0;
}

.keyboard-nav {
  display: grid;
  grid-template-columns: 50px 125px;
  column-gap: 10px;
}

.key-name {
  grid-column: 1;
  color: white;
  font-weight: bold;
}

.key-description {
  grid-column: 2;
  color: #c8e0fc;
}

.data-insert-cell {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid wheat;
  color: whitesmoke;
}

.data-insert-cell:focus{
  background: transparent;
  box-shadow: 0 0 5px 5px #84bdfd;
  color: whitesmoke;
}

#input-excel{
  width: 100%;
  height: 400px;
  overflow: auto;
  padding: 10px;
  border: none;
  background: #243742;
  color: whitesmoke;
  resize: none;
}

.grey-out {
  color: gray;
  transition: color 0.2s linear;
}


a.styled-link,
.navbar-dark .navbar-nav .nav-link {
  position: relative;
  text-decoration: none;
  padding: 0;
  color: #9baec4;
}

a.styled-link.active,
.navbar-dark .navbar-nav .nav-link.active {
  color: #c8e0fc;
}

a.styled-link:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #84bdfd;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}

a.styled-link:hover::before,
#footer a:hover::before {
  visibility: visible;
  width: 100%;
}

a.styled-link:hover,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #84bdfd;
  transition: all 0.2s linear;
}

.container-left {
  width: 225px;
}

.container {
  min-height: 100%;
  margin-left: 240px;
  margin-bottom: 50px;
}

#submit-button {
  margin: 50px auto 100px;
  border: none;
  font-size: x-large;
}

ul {
  list-style-type: none;
  padding: 0;
}


.tablecard {
  margin: 10px 20px;
}

.selectedCell {
  background-color: teal;
  transition: background-color 0.1s linear;
}

td {
  min-width: 100px;
}

.generate-table-button {
  float: right;
}

.table-options-mobile {
  display: none;
}

.table-options-desktop li {
  display: inline-block;
  margin: 5px;
  padding: 0 10px;
}

.table-options-desktop i {
  color: white;
}

.btn-group>button {
  border: 1px solid black;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

.table-responsive {
  max-height: 400px;
  overflow: auto;
}

hr {
  margin: 100px 15px 50px;
  border: 2px solid white;
}

.result-container {
  margin: 0 15px;
}

.warnings-submit-row{
  display: grid;
  grid-template-columns: 1fr .1fr;
  column-gap: 20px;
  margin: 20px 0;
}

#excel-generate-button{
  margin: 0;
  padding: 10px 50px;
}


.result-box {
  display: grid;
  grid-template-columns: 1fr 0.25fr;
  grid-gap: 20px;
  background-color: #142229;
}

.grid-child {
  padding: 10px;
  max-height: 300px;
}

.credit-list {
  padding-left: 50px;
  list-style-type: disc;
}

.credit-list li a {
  color: #84bdfd;
}

.credit-list li a:hover {
  color: #276890;
  transition: all 0.2s linear;
  text-decoration: none;
}

.btn.disabled,
.btn:disabled {
  transition: opacity 0.1s linear;
}

.result-text {
  font-size: large;
  white-space: pre-line;
  overflow: auto;
  word-break: break-word;
}

.darkerbg {
  background: #243742;
}

.custom-file {
  overflow: hidden;
}

.submit-download-link {
  display: block;
  margin: 10px;
  padding: 10px 30px;
  background: #1f5170;
  font-size: large;
  text-decoration: none;
  text-align: center;
  color: white;
}

.submit-download-link:hover {
  background: #276890;
  color: white;
  transition: background 0.2s linear;
}


/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}

#footer {
  width: 100%;
  /* Set the fixed height of the #footer here */
  background-color: #1f5170;
  text-align: center;
  overflow: hidden;
}

#footer li {
  display: inline-block;
  padding: 15px 25px;
  color: white;
}


#footer a {
  color: #c8e0fc;
}

#footer a:hover,
a:focus {
  text-decoration: none;
}

#footer img {
  width: 150px;
}

/*  For Mobile */
@media only screen and (max-width: 600px) {
  .navbar-brand img {
    width: 200px;
  }

  .instructions-mobile {
    display: block;
  }


  .instructions-desktop {
    display: none;
  }


  .navbar-dark .navbar-nav .nav-link {
    margin: 15px 0;
  }

  .big-page-title {
    line-height: 60px;
  }

  h1 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1rem;
  }

  /*1rem = 16px*/

  .container-left {
    display: none;
  }

  .container {
    margin-left: 0;
  }

  .result-container {
    margin: 0;
  }

  .table-options-mobile {
    display: block;
    margin: 10px 0;
  }

  .table-options-desktop {
    display: none;
  }

  .table-responsive {
    max-height: 500px;
  }

  td,
  th {
    min-width: 75px;
  }

  .result-box {
    grid-template-columns: 1fr;
  }

  #input-excel{
    width: 100%;
    height: 300px;
    margin: 0;
  }

  .warnings-submit-row{
    grid-template-columns: 1fr;
    row-gap: 10px;
  }

  #excel-generate-button{
    margin: 10px auto;
  }

  .undo-redo-menu {
    display: inline-block;
  }

  .generate-table-button {
    display: inline-block;
  }

  .dropdown-menus-container {
    margin: 10px 0px;
  }

  .dropdown-menus-container .dropdown {
    display: inline-block;
  }

  #footer {
    position: relative;
    height: 275px;
  }

  #footer li {
    margin-left: 20px;
    padding: 20px 0;
    display: block;
    text-align: left;
  }
}