{% extends "layout.html" %}


{% block body %}
<div class="csv-upload-container">
    <div class="big-page-title my-2 my-lg-3">CSV to Markdown</div>
    <p class="lead">
        Upload your CSV file below.<br>
        Maximum size for uploads is 10MB.
    </p>

    <!-- enctype=multipart/form-data action="{{ url_for('convert_csv_file') }}" method="POST" -->
    <form id="csv-form">
        <div class="custom-file my-2">
            <input type="file" name='file' class="custom-file-input" id="csvFile" required />
            <label class="custom-file-label" for="csvFile">No file selected.</label>
        </div>

        <div class="form-check mb-1">
            <input class="form-check-input" type="radio" name="modify-or-not" id="modify-true" value="modify-true"
                required />
            <label class="form-check-label" for="modify-true">
                I want to modify the contents of my uploaded file before converting it.
            </label>
        </div>
        <div class="form-check mb-1">
            <input class="form-check-input" type="radio" name="modify-or-not" id="modify-false" value="modify-false"
                required />
            <label class="form-check-label" for="modify-false">
                I don't have to modify anything in my file.
            </label>
        </div>



        <button type="button" class="btn submit-download-link" id="submit-button" disabled>Submit</button>
    </form>
</div>
{% endblock %}


{% block after_script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.js"
    integrity="sha512-/McISOEKVzVvgu12/1Hk8dSrbKBShnKn79/R50ysl5qWR1zgj347kOT8LJJvInxHDSPmiBG9vg5AhMx6rcELJg=="
    crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/convertcsv.min.js') }}"></script>
{% endblock %}