{% extends "layout.html" %}

{% block body %}
<div class="big-page-title my-3">Credits</div>
<ul class="credit-list">
    <li>Chris Simpson for the <a href="https://fontsarena.com/metropolis-by-chris-simpson/">Metropolis font.</a></li>
        <li>joel-okello for the <a href="https://www.jqueryscript.net/table/table-editing-creation-bootstable.html">Editable
            Bootstrap Table plugin.</a></li>
    <li><a href="https://github.com/mholt/PapaParse/graphs/contributors">Matt Holt and contributors</a> for <a
            href="https://www.papaparse.com/">PapaParse.</a></li>
</ul>

{% endblock %}