{% extends "layout.html" %}

{% block body %}

<!-- Heading -->
<h3 class="mt-3 ml-3">The first row is treated as the table's header.
</h3>


<div class="card tablecard bg-dark" id="input-table-card">
    <!-- Table Container -->
    <div class="card-body">
        <!-- Table options for mobile -->
        <div id="table-options-mobile" class="dropdown table-options-mobile">
            <div class="undo-redo-menu">
                <button type="button" class="undo btn btn-secondary">
                    <i class="fas fa-undo-alt"></i></button>
                <button type="button" class="redo btn btn-secondary">
                    <i class="fas fa-redo-alt"></i></button>
            </div>
            <div class="generate-table-button">
                <button type="button" class="bGenerateTable btn btn-primary">Generate</button>
            </div>
            <div class="dropdown-menus-container">
                <div class="text-menu dropdown">
                    <button id="text-menu-dropdown-button" class="btn btn-info dropdown-toggle" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Text
                    </button>
                    <div class="dropdown-menu" aria-labelledby="text-menu-dropdown-button">
                        <button class="make-bold dropdown-item" href="#">
                            <i class="fas fa-bold fa-sm mr-3"></i>
                            Bold
                        </button>
                        <button class="make-italic dropdown-item" href="#">
                            <i class="fas fa-italic fa-sm mr-3"></i>
                            Italic
                        </button>
                        <button class="make-strikethrough dropdown-item" href="#">
                            <i class="fas fa-strikethrough fa-sm mr-3"></i>
                            Strikethrough
                        </button>
                    </div>
                </div>
                <div class="column-menu dropdown">
                    <button class="btn btn-info dropdown-toggle" type="button" id="col-menu-dropdown-button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Col
                    </button>
                    <div class="dropdown-menu" aria-labelledby="col-menu-dropdown-button">
                        <button class="bAddColumnLeft dropdown-item" href="#">
                            <i class="fas fa-long-arrow-alt-left fa-sm mr-3"></i>
                            Add Left</button>
                        <button class="bAddColumnRight dropdown-item" href="#">
                            <i class="fas fa-long-arrow-alt-right fa-sm mr-3"></i>
                            Add Right</button>
                        <button class="bDeleteColumn dropdown-item" href="#">
                            <i class="fas fa-trash fa-sm mr-3"></i>
                            Delete</button>
                    </div>
                </div>
                <div class="row-menu dropdown">
                    <button class="btn btn-info dropdown-toggle" type="button" id="row-menu-dropdown-button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Row
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="row-menu-dropdown-button">
                        <button class="bEdit dropdown-item" href="#">
                            <i class="fas fa-pencil-alt fa-sm mr-3"></i>
                            Edit
                        </button>
                        <button class="bAddRowUp dropdown-item" href="#">
                            <i class="fas fa-long-arrow-alt-up fa-sm mr-3"></i>
                            Add Above
                        </button>
                        <button class="bAddRowDown dropdown-item" href="#">
                            <i class="fas fa-long-arrow-alt-down fa-sm mr-3"></i>
                            Add Below
                        </button>
                        <button class="bElim dropdown-item" href="#">
                            <i class="fas fa-trash fa-sm mr-3"></i>
                            Delete
                        </button>
                        <button class="bAcep dropdown-item" href="#">
                            <i class="fas fa-check fa-sm mr-3"></i>
                            Accept
                        </button>
                        <button class="bCanc dropdown-item" href="#">
                            <i class="fas fa-times fa-sm mr-3"></i>
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Table options for desktop -->
        <ul id="table-options-desktop" class="table-options-desktop mb-3 mr-1 ml-1">
            <li class="generate-table-button">
                <button type="button" class="bGenerateTable btn btn-primary">Generate</button>
            </li>
            <li class="undo-redo-menu">
                <button type="button" class="undo btn btn-secondary">
                    <i class="fas fa-undo-alt"></i></button>
                <button type="button" class="redo btn btn-secondary">
                    <i class="fas fa-redo-alt"></i></button>
            </li>
            <li class="text-menu">
                <button type="button" class="make-bold btn btn-info">
                    <i class="fas fa-bold  ml-1 mr-1" aria-hidden="true"></i></button>
                <button type="button" class="make-italic btn btn-info">
                    <i class="fas fa-italic  ml-1 mr-1" aria-hidden="true"></i></button>
                <button type="button" class="make-strikethrough btn btn-info">
                    <i class="fas fa-strikethrough  ml-1 mr-1" aria-hidden="true"></i></button>
                </a>
            </li>
            <li class="column-menu">
                Column
                <button type="button" class="bAddColumnLeft header-col-button btn btn-success">
                    <i class="fas fa-plus"></i> <i class="fas fa-long-arrow-alt-left"></i></button>
                <button type="button" class="bAddColumnRight header-col-button btn btn-success">
                    <i class="fas fa-long-arrow-alt-right mr-1"></i><i class="fas fa-plus"></i></button>
                <button type="button" class="bDeleteColumn btn btn-danger">
                    <i class="fas fa-trash" aria-hidden="true"></i>
                </button>
            </li>
            <li class="row-menu">
                Row
                <button type="button" class="bEdit btn btn-secondary">
                    <i class="fas fa-pencil-alt"></i>
                </button>
                <button type="button" class="bAddRowUp btn btn-success">
                    <i class="fas fa-plus"></i> <i class="fas fa-long-arrow-alt-up"></i>
                </button>
                <button type="button" class="bAddRowDown btn btn-success">
                    <i class="fas fa-plus"></i> <i class="fas fa-long-arrow-alt-down"></i>
                </button>
                <button type="button" class="bElim btn btn-danger">
                    <i class="fas fa-trash" aria-hidden="true"></i>
                </button>
                <button type="button" class="bAcep btn btn-success">
                    <i class="fas fa-check"></i>
                </button>
                <button type="button" class="bCanc btn btn-danger">
                    <i class="fas fa-times" aria-hidden="true"></i>
            </li>

        </ul>
        <!-- Input table -->
        <div class="table-responsive">
            <table id="input-table" class="table table-editable table-striped table-bordered table-dark table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">1</th>
                        <th scope="col">2</th>
                        <th scope="col">3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/bootstable.js') }}"></script>
<script src="{{ url_for('static', filename='js/table2markdown.js') }}"></script>

{% endblock %}