{% extends "layout.html" %}

{% block body %}

<!-- Heading -->
<h3 class="mt-3 ml-3">Insert data into the table below.<br> Adjust the number of rows and columns as you see fit.</h2>
    <div class="card bg-dark">
        <!-- Table Container -->
        <div class="card-body">
            <!-- Table options -->
            <ul id="table-options" class="table-options mb-3 mr-1 ml-1">
                <li class="generate-button">
                    <button id="#generate-table" type="button" class="btn btn-primary">Generate</button>
                </li>
                <li id="cell-position">
                </li>
                <li id="align-menu">
                    <button type="button" class="btn btn-info" id="#left-align">
                        <i class="fas fa-align-left  ml-1 mr-1" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-info" id="#center-align" href="#">
                        <i class="fas fa-align-center  ml-1 mr-1" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-info" id="#right-align" href="#">
                        <i class="fas fa-align-right  ml-1 mr-1" aria-hidden="true"></i></button>
                    </a>
                </li>
                <li id="column-menu">
                    Column
                    <button type="button" class="header-col-button btn btn-success" id="bAddColumnRight" href="#">

                        <i class="fas fa-plus  ml-1 mr-1" aria-hidden="true"></i></button>
                </li>
                <li id="row-menu">
                    Row
                    <button id="bEdit" type="button" class="btn btn-secondary">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button id="bAddRowUp" type="button" class="btn btn-success">
                        <i class="fas fa-plus"></i> <i class="fas fa-long-arrow-alt-up"></i>
                    </button>
                    <button id="bAddRowDown" type="button" class="btn btn-success">
                        <i class="fas fa-plus"></i> <i class="fas fa-long-arrow-alt-down"></i>
                    </button>
                    <button id="bElim" type="button" class="btn btn-danger">
                        <i class="fas fa-trash" aria-hidden="true"></i>
                    </button>
                    <button id="bAcep" type="button" class="btn btn-success" >
                        <i class="fas fa-check"></i>
                    </button>
                    <button id="bCanc" type="button" class="btn btn-danger">
                        <i class="fas fa-times" aria-hidden="true"></i>
                </li>

            </ul>
            <!-- Input table -->
            <div class="table-responsive">
                <table id="input-table"
                    class="table table-editable table-striped table-bordered table-dark table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">1</th>
                            <th scope="col">2</th>
                            <th scope="col">3</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">
                                1
                            </th>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                2
                            </th>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                3
                            </th>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% endblock %}

    {% block script %}
    <script src="{{ url_for('static', filename='js/bootstable.js') }}"></script>
    <script src="{{ url_for('static', filename='js/table2markdown.js') }}"></script>

    {% endblock %}